
/*커스텀 라이브러리*/

*{
    padding:0;
    margin:0;
  }
  
  .con{
    width:1920px;
    margin:0 auto;
  }
  
  @media ( min-width: 1900px ) {
    body { overflow-x:hidden; }
  }
  


.main__bg {
    background: url( https://cdn.jsdelivr.net/gh/seoungmohwa/N-nanda-img/nanda-2/N-nanda%20bg-01.png);
    height: 1448px;
}